# Ignore virtual environments
.venv/
env/
venv/

# Ignore Python cache and logs
__pycache__/
*.py[cod]
*.log

# Ignore Jupyter notebooks (if not needed)
*.ipynb

# Ignore system files
.DS_Store
Thumbs.db

# Ignore git-related files
.git/

# You WANT to include these:
!artifacts/
!data/
!app.py
!requirements.txt
